<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd"> 
<html xmlns="http://www.w3.org/1999/xhtml"> 
<head> 
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /> 
<title>StupidProgrammingException | {{ page.title }}</title> 
<link rel="stylesheet" type="text/css" media="all"  href="/css/all.css" /> 
{% include feed.html %}

</head> 
<body> 
<div class="page"> 
	<div class="head"> 
		<h1><a href="/">StupidProgrammingException</a></h1> 
	</div> 
	<div class="body"> 
		<div  id="header" class="rightCol gCal"> 
			<a href="/"> 
		    <img src="http://www.gravatar.com/avatar/df56ea606f88b91868c811459bd6bebb.png" height="75" width="75" class="avatar" /> 
		  </a> 

		  <div id="mousing">&nbsp;</div> 
		  <div class="site"> 
		    <a href="https://github.com/fantayeneh" id="github"> 
		      <img src="/images/github.png" alt="github" title="@fanta on GitHub" height="16" width="16" /> 
		    </a> 
		    <a href="https://twitter.com/fantayeneh" id="twitter"> 
		      <img src="/images/twitter.png" alt="twitter" title="@fanta on Twitter" height="16" width="16" /> 
		    </a> 
		    <a href="/atom.xml" id="rss"> 
		      <img src="/images/rss.png" alt="rss" title="Subscribe to this blog's RSS feed" height="16" width="16" /> 
		    </a> 
		  </div> 

		  <div id="sections"> 
		    <div><a href="/about.html">About</a></div> 
		    <div><a href="/ethiopia.html">Ethiopia</a></div> 
		    <div><a href="/index.html">Posts</a></div> 
		  </div>
		</div> 
		
		<div class="main"> 
			{{ content }}            
		</div> 
	</div> 
	<div class="foot"> 
		<p class='rights'> 
	          &copy; 2011 <a href='/about.html' rel='me author'>Fantayeneh Asres Gizaw</a> 
	     </p>
	</div>	
</div> 
</body> 
</html>